.container {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(465px, 1fr));
  // grid-template-rows: repeat(auto-fit, 281px);
  justify-content: space-between;
  width: 935px;
}
@media (max-width: 860px) {
  .container {
    width: auto;
  }
}
