.body {
     background-color: #E5E5E5;
}
.main {
  width: 1010px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 36px;
  padding-right: 36px;
  box-sizing: content-box;
}

/* .header {
  display: flex;
  justify-content: center;
  margin: 5px;
} */

/* .search-bar {
  display: block;
  width: 90%;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
} */

.spinner {
  position: absolute !important;
  top: 50%;
  left: 50%;
}
/* .container {
  display: grid;
  grid-template-columns: 454px 460px;
  justify-content: space-around;
} */
/* .layout {
  width: 454px;
  height: 281px;
  background-color: #fff;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.15));
  display: flex;
  flex-direction: row;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 10px;
}
.layout .image {
  height: 281px;
  max-width: 183px;
}
.layout .description {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 12px;
}
.layout .description .name {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  max-width: 215px;
}

.layout .description .date {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #827e7e;
  margin-top: 7px;
}

.layout .description .genre {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 9px;
}
.layout .description .about {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  color: #000000;
  margin-top: 10px;
}

.ant-rate-star {
  margin-right: 3px !important;
}
.layout .description .rate-round {
  width: 30px;
  height: 30px;
  border: 2px solid #e9d100;
  border-radius: 50%;
  position: absolute;
  right: 9px;
  top: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout .description .red {
  border: 2px solid #e90000;
}

.layout .description .orange {
  border: 2px solid #e97e00;
}

.layout .description .yellow {
  border: 2px solid #e9d100;
}

.layout .description .green {
  border: 2px solid #66e900;
}
.layout .description .rate {
  margin-top: 5px;
} */

/* .pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 30px !important;
  max-width: 60%;
} */
