.body {
  background-color: #e5e5e5;
}
.main {
  width: 1010px;
  min-height: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 36px;
  padding-right: 36px;
  box-sizing: content-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: flex-start;
}
.spinner {
  position: fixed !important;
  top: 50%;
  left: 50%;
}
@media (max-width: 860px) {
  .body {
    .main {
      width: 90%;
      padding-left: 5%;
      padding-right: 5%;
    }
  }
}
