.search-bar {
  display: block;
  width: 938px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
}

@media (max-width: 860px) {
  .search-bar {
    width: 33em;
    margin-left: 0;
    margin-right: 0;
  }
}
