.search-bar {
  display: block;
  width: 938px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
  border-radius: 4px;
}
